# Compiled class file
*.class

# Log files
*.log

# IDE-specific files
.idea/
.vscode/

# Gradle files
build/
.gradle/

# Maven files
target/
.mvn/

# Spring Boot
target/
!.mvn/wrapper/maven-wrapper.jar

# Spring Tool Suite (STS)
.springBeans
.spring-boot-starter.log

# Application properties
application*.yml
application*.properties

# Test report files
/test-output/

# IntelliJ IDEA
.idea/

# Eclipse
.classpath
.project
.settings/

# Visual Studio Code
.vscode/

# Operating System files
.DS_Store
Thumbs.db